<%- include('header') %>
<%- include('message') %>
<h1>Regisztráció</h1>
<div class="col-lg-6 offset-lg-3 offset-xl-4">
    <form action="/users/registration" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nev" name="name" value="<%= session.body ? session.body.name : '' %>" placeholder="name@example.com">
            <label for="nev">Név</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" value="<%= session.body ? session.body.email : '' %>" placeholder="name@example.com">
            <label for="email">Email cím</label>
        </div>
        <div class="form-floating  mb-3">
            <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
            <label for="Password">jelszó</label>
        </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="confPassword" name="confpassword" placeholder="Password">
            <label for="confPassword">jelszó megerősítése</label>
          </div>
          <input type="submit" value="Belépés" class="btn btn-primary mt-3">
    </form>
</div>


<%- include('footer') %>
